/APTOS 2019 Blindness Detection
/APTOS 2019 Segmentation
best_model.pth
test_images
train_images
test.csv
train.csv
sample_submission.csv
.gitignore
cls.ipynb
env
/classifier_model
.DS_Store
aptos-2019-blindness-detection-segmented.zip
retinal_segmentation_full.pth
retinal_segmentation_model.pth
retinal_segmentation.pth
training_loss.png
classification_metrics_by_class.png